body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}
body.dark {
  background-color: rgb(52, 52, 52);
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: x-large;
}

button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: 0;
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
 a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  background-color: #f59000;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}
